@import "tailwindcss";

/* Header */
.header {
  background-color: #1d8d84;
  width: 100%;
  padding: 0.5rem;
  font-size: 3rem;
  text-align: center;
  color: black;
}

/* Thumbnails */
.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnails-container {
  display: flex;
  gap: 0.8rem;
  padding: 1rem;
}

.thumbnail-image {
  height: 90px;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid transparent;
}

.thumbnail-image.active {
  border: 4px solid #1d8d84;
  transform: scale(1.1);
}

.thumbnail-image:hover {
  transform: scale(1.1);
}

/* Large image */
.main-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.image-button-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 7px;
}

.image-button-container img {
  max-height: 600px;
  border-radius: 15px;
}

/* Buttons */
.button {
  background-color: #1d8d84;
  color: black;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.button:hover {
  transform: scale(1.05);
}

/* Mobile */
@media (max-width: 800px) {
  /* Thumbnails */
  .thumbnails-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Large image */
  .image-button-container {
    flex-direction: column;
    gap: 40px;
  }

  .image-button-container img {
    width: 90%;
  }

  /* Buttons */
  .button {
    width: 25%;
    padding: 10px;
    font-size: 1.5rem;
  }
}
